*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: goldenrod;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
  }
  header{
    font-size: 1.4rem;
  }
  h4{
    text-align: center;
  }
  header,form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  form input,form button{
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 1rem;
    background-color: white;
  }
  form button{
    margin: 0.6rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
      background-color: rgb(249, 248, 240);
  
    }
  }
  .todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .todo-list{
    min-width: 30%;
    list-style: none;
  }
  .todo{
    margin:0.5rem;
    padding-left: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
  }
  .todo li{
    flex: 1;
  }
  .delete-btn,.complete-btn{
    color: rgb(22, 13, 13);
    border: none;
    padding: 1rem;
    cursor: pointer;
    
  
  }
  
  .delete-btn{
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background-color: white;
  }
  .todo-item{
    padding: 0rem 0.5rem;
  }
  .slide{
    display: none;
  }
  .completed{
  opacity: 0.5;
  }
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border:none;
  }
  .select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
  }
  select{
    color: rgb(0, 0, 0);
    background-color: white;
    width: 5rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: beige;
    }
  }


